Repository rchain/rchain, pull requests merged in 2022-02, with the labels that each got.

#3592 Implemented gRPC binding for `getDataAtPar` method
  casper/src/main/scala/coop/rchain/casper/util/comm/DeployService.scala
  models/src/main/protobuf/DeployServiceCommon.proto
  models/src/main/protobuf/DeployServiceV1.proto
  node/src/main/scala/coop/rchain/node/api/DeployGrpcServiceV1.scala
Labels: API

#3574 Refactor graphz
  casper/src/main/scala/coop/rchain/casper/api/BlockAPI.scala
  casper/src/main/scala/coop/rchain/casper/api/GraphGenerator.scala
  casper/src/test/scala/coop/rchain/casper/helper/TestNode.scala
  graphz/src/main/scala/coop/rchain/graphz/Graphz.scala
  graphz/src/test/scala/coop/rchain/graphz/GraphzSpec.scala
  node/src/main/scala/coop/rchain/node/api/DeployGrpcServiceV1.scala
Labels: enhancement

#3557 Cleanup HotStore in-memory implementation
  rspace/src/main/scala/coop/rchain/rspace/HotStore.scala
  rspace/src/main/scala/coop/rchain/rspace/RSpace.scala
  rspace/src/main/scala/coop/rchain/rspace/RSpaceOps.scala
  rspace/src/main/scala/coop/rchain/rspace/ReplayRSpace.scala
  rspace/src/test/scala/coop/rchain/rspace/HotStoreSpec.scala
  rspace/src/test/scala/coop/rchain/rspace/ReplayRSpaceTests.scala
  rspace/src/test/scala/coop/rchain/rspace/StorageActionsTests.scala
  rspace/src/test/scala/coop/rchain/rspace/StorageExamplesTests.scala
  rspace/src/test/scala/coop/rchain/rspace/StorageTestsBase.scala
  rspace/src/test/scala/coop/rchain/rspace/test/package.scala
  shared/src/main/scala/coop/rchain/shared/MapOps.scala
  shared/src/test/scala/coop/rchain/shared/MapOpsSpec.scala
Labels: enhancement, Priority-Low

#3597 Add one test case for SynchronousOutputSpec
  rholang/src/test/scala/coop/rchain/rholang/interpreter/SynchronousOutputSpec.scala
Labels: rholang

#3609 Update dependencies (cats, fs2, https4s)
  casper/src/test/scala/coop/rchain/casper/helper/TestNode.scala
  casper/src/test/scala/coop/rchain/casper/merging/MergingCases.scala
  node/src/main/scala/coop/rchain/node/runtime/NodeRuntime.scala
  node/src/test/scala/coop/rchain/node/mergeablity/MergingBranchMergerSpec.scala
  project/Dependencies.scala
  rholang/src/main/scala/coop/rchain/rholang/interpreter/compiler/normalizer/processes/PParNormalizer.scala
  rholang/src/main/scala/coop/rchain/rholang/interpreter/matcher/StreamT.scala
  shared/src/main/scala/coop/rchain/catscontrib/effect/implicits/package.scala
  shared/src/main/scala/coop/rchain/fs2/Fs2StreamSyntax.scala
  shared/src/test/scala/coop/rchain/catscontrib/BooleanFSpec.scala
Labels: dependencies
